<?xml versionn="1.0"?>
<model>
    <name>Warehouse Robot Tutorial</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>JiHeon Park</name>
        <email>jhjp37.io@gmail.com</email>
    </author>

    <description>
        Warehous robot basic tutorial.
    </description>
</model>